<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="shortcut icon" href="{% static 'images/techjorgansfavicon.jpg' %}"/>
</head>
<body>
    <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">


      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
          <li><a href="">About us!</a></li>
        </ul>
	{% if user.is_authenticated %}
     		<li>User: {{ user.get_username }}</li>
     		<li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   	{% else %}
     		<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
		<li><a href="{% url 'register' %}?next={{request.path}}"> New user           </a></li>
   	{% endif %} 
	</ul>
	<hr style="height:2px;border-width:5px;">
	<div style="margin-left:20px; margin-top:20px; ">
		<div class="search-container">
    			<form method="get" action="{% url 'search' %}">
      				<input type="text" placeholder="Search books" name="search">
      				<button type="submit"><i class="fa fa-search"></i></button>
    			</form>
  		</div>
	{% if user.is_staff %}
     		staff: {{ user.get_username }} <br>
		<a href="{% url 'author_create' %}">Add Author</a><br>
		<a href="{% url 'book_create' %}">Add Book</a>
       	{% endif %} 
     {% endblock %}
	</div>
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>



{% block pagination %}
    {% if is_paginated %}
        <div class="pagination" style="margin-left:300px;">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 

</body>
</html>
