{% extends "base_generic.html" %}
<head>
  {% block title %} <title> Home page</title> {% endblock %}
</head>
{% block content %}
  {% load static %}
  <h1>Lokal Library </h1><br>
  <p>Welcome to Local Library, a website developed by <em>Tech jargons</em>!</p><br>
  <h3>Our services by this website</h2>
  <p>  You can get some books that may help you </p>
	<div style=" margin-bottom:50px;">
	</div>

<div style=" margin-bottom:50px;">
		<p>{% if num_visits == 0 %} You may visit first time here  !!!!!{% else %} You have visited this page {{num_visits}}{% if num_visits == 1 %} time{% else %} times{% endif %}.{% endif %}</p>
	</div>
</div>
{% endblock %}
